template(name='canoodleNew')
  .row
    .medium-4.columns
      h2 New Canoodle
    .medium-8.columns
      form#new-canoodle(action='/canoodles', method='POST')
        .row
          .medium-4.columns
            label.middle(for='canoodle_name') Name:    
          .medium-8.columns
            input(type='text', name='canoodle[name]', placeholder='Canoodle Name')
        .row
          .medium-8.medium-offset-4.columns
            button.button.success.expand(type='submit') + Create canoodle
