main {
  padding-bottom: map-get($grid-column-responsive-gutter, small)/2;
  padding-top: map-get($grid-column-responsive-gutter, small)/2;

  @media #{$medium-up} {
    padding-bottom: map-get($grid-column-responsive-gutter, medium)/2;
    padding-top: map-get($grid-column-responsive-gutter, medium)/2;
  }
}

.callout {
  > :first-child {
    margin-top: 0;
  }

  > :nth-last-child(2) {
    margin-bottom: 0;
  }
}
