template(name='noodleEdit')
  section.noodle
    header.clearfix
      button.button.alert.float-right#delete(type='button') × Delete
      a.button.float-right(href="{{pathFor route='noodle.show'}}") Back
      h2
        a(href="{{pathFor route='noodle.show'}}")= name
      time Created {{when}}
    .options
      each options
        if saved
          +optionShow option=this editable='true'
        else
          +optionEdit
      button#add-option(type='button') + Add Option
