template(name='noodleShow')
  header
    h2 {{name}}
    time Created {{when}}
    if editable
      a(href="{{pathFor route='noodle.edit'}}") Edit
  section.noodle
    .options
      .blank
      each options
        if saved
          +optionShow option=this editable='false'
      .blank
    .votes
      each votesets
        if saved
          +votesetShow
        else
          +votesetEdit
      with myVoteset
        if saved
          +votesetShow
        else
          +votesetEdit
      
