template(name='noodleShow')
  section.noodle
    header
      h2 {{name}}
      time Created {{when}}
      if editable
        a(href="{{pathFor route='noodle.edit'}}") Edit
    .options
      each options
        if saved
          +optionShow option=this editable='false'
